<%= error_messages_for :user, :id => 'errors', :header_message => nil, :message => 'We had some problems creating your account:' %>
<% form_for @user do |f| -%>
  <fieldset>
    <p>
      <label for="user_forenames">Forenames</label>
      <%= f.text_field :forenames, :maxlength => 100, :class => 'wide' %>
    </p>
    <p>
      <label for="user_surname">Surname</label>
      <%= f.text_field :surname, :maxlength => 100, :class => 'wide' %>
    </p>
    <p>
      <label for="user_email">Email</label>
      <%= f.text_field :email, :maxlength => 100, :class => 'wide' %>
    </p>
    <p>
      <label for="user_password">Password</label>
      <%= f.password_field :password, :maxlength => 40, :class => 'wide' %>
    </p>
    <p>
      <label for="user_password_confirmation">Confirm Password</label>
      <%= f.password_field :password_confirmation, :maxlength => 40, :class => 'wide' %>
    </p>
    <p>
      <span class="indent"><%= f.submit 'Sign Up', :class => 'button' %>&nbsp;<span id="cancel_link">or <%= link_to 'Cancel', watches_path %></span>
    </p>
  </fieldset>
<% end -%>